<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.yannick.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis-example"/>
                <property name="username" value="root"/>
                <property name="password" value="0000"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- Mapper registration: specify the specific location of the mybatis mapping file -->
        <!-- <mapper resource="path/to/your/mapper.xml"/> -->
        <!-- or -->
        <!-- <package name="com.example.your.package"/> -->
        <mapper resource="Mappers/UserMapper.xml"/>
    </mappers>
</configuration>
